@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-bg-color: #4F46E5
}

.isActive::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--main-bg-color);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .isActive:hover::after {
    width: 0%;
  }